/*
    Document   : Obs
    Created on : 2011-11-01
    Author     : mfaure
    Description:
*/

/*
 * Utils
 * ==============================================
*/

/* =clearfix
 -------------------------------------------------- */
/* http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

/* =visually-hidden
 -------------------------------------------------- */
/* http://yaccessibilityblog.com/library/css-clip-hidden-content.html */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body:hover .visually-hidden a,
body:hover .visually-hidden input,
body:hover .visually-hidden button {
  display: none !important;
}

/* =link-underline
 -------------------------------------------------- */
.link-underline a {text-decoration: none;}
.link-underline a:hover {text-decoration: underline;}
.link-underline-hover a {text-decoration: none;}
.link-underline-hover a:hover {text-decoration: underline;}

/* =align
 -------------------------------------------------- */
.align-right { text-align: right;}
.align-left { text-align: left;}
.align-center { text-align: center;}

.valign-top {vertical-align: top;}
.valign-middle {vertical-align: middle;}
.valign-bottom {vertical-align: bottom}

/* Classes: grade
 * ------------------------------------------------- */

.grade-a {
    font-weight: bold;
    color:#3BA94C;
} /* >90% */
.grade-b {
    font-weight: bold;
    color:#819F44;
} /* <90% */
.grade-c {
    font-weight: bold;
    color:#AC922E;
} /* <80% */
.grade-d {
    font-weight: bold;
    color:#D77B3E;
} /* <70% */
.grade-e {
    font-weight: bold;
    color:#BB4A12;
} /* <60% */
.grade-f {
    font-weight: bold;
    color:#D02D2D;
} /* <50% */
.score-progression{
    color: #000000;
    font-size: small;
}

/* Classes: font-size
 * ------------------------------------------------- */
.size-l {font-size: 11px;} /* default size from bootstrap */
.size-xl {font-size: 15px;}
.size-2xl {font-size: 20px;}
.size-3xl {font-size: 25px;}

/*
 * Override Bootstap
 * ==============================================
*/

.breadcrumb .divider:after {
    content: ">";
}

/* focusable content: anything w/ tabindex >=0 is focusable */
abbr:focus, acronym:focus, address:focus, b:focus,
base:focus, big:focus, blockquote:focus, br:focus, canvas:focus, caption:focus,
center:focus, cite:focus, code:focus, col:focus, colgroup:focus, dd:focus,
del:focus, dfn:focus, dir:focus, div:focus, dl:focus, dt:focus, em:focus,
fieldset:focus, font:focus, form:focus, h1:focus, h2:focus, h3:focus, h4:focus,
h5:focus, h6:focus, hr:focus, i:focus, img:focus, ins:focus,
kbd:focus, label:focus, legend:focus, li:focus, link:focus, menu:focus,
ol:focus, p:focus, pre:focus, q:focus, s:focus, samp:focus,
small:focus, span:focus, strike:focus, strong:focus, sub:focus, sup:focus,
table:focus, tbody:focus, td:focus, tfoot:focus, th:focus, thead:focus,
tr:focus, tt:focus, u:focus, ul:focus, var:focus {
  /* Don't specify the outline-color, we should always use initial value. */
   outline: 1px dotted;
}

/*
 * HTML tags
 * ==============================================
*/
body {padding-top: 60px;}
code {
     font-family: monospace;
     font-weight: bold;
}

/*
 * Header
 * ==============================================
*/

#home h1 {
}
/*
 * Body
 * ==============================================
*/
#bg {
}

/* top5
 -------------------------------------------------- */
.top5-rank1 { font-size: 30px;}
.top5-rank2 { font-size: 25px;}
.top5-rank3 { font-size: 20px;}
.score-explanation {
    font-size: 11px;
    text-align: right;
}

/*
 * Footer
 * ==============================================
*/
footer {padding-top: 0;}
#footer-upper {
    background-color: #f8f8f8;
    padding-top: 17px;
}

#footer-down {
    margin-top: 17px;
}

#footer-upper>div,
#footer-down>div {
    width: 940px;
    margin: auto;
}

footer h2 {
    border-bottom: thin solid #E1E1E1;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    line-height: 20px;
}

/*
 * Page: home
 * ==============================================
*/
#allCategoriesBlock {text-align: right;}
.see-category-block-link {text-align: right;}

/*
 * Page: article
 * ==============================================
*/

/* article headers
 -------------------------------------------------- */

/* article content
 -------------------------------------------------- */

/*
 * Print styles (from Html5 Boilerplate)
 * ==============================================
*/
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}