/*
    Document   : Obs
    Created on : 2011-11-01
    Author     : mfaure
    Description:
*/

/*
 * Utils
 * ==============================================
*/

/* =clearfix
 -------------------------------------------------- */
/* http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

/* =awesome buttons
 -------------------------------------------------- */
/* Source: http://www.zurb.com/blog_uploads/0000/0617/buttons-03.html
   Modified to conform to YUI fonts
*/
.awesome,
.awesome:visited {
    border: 0 none;
    background: #222 url(http://asset.open-s.com/Corporate/TGOL/Images/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

.awesome input{
    background-color: transparent;
    border: medium none;
    color: white;
    font-weight: bold;
}

.awesome:hover {
    background-color: #111;
    color: #fff;
}

.awesome:active { top: 1px; }

.small.awesome,
.small.awesome:visited { font-size: 77%;}

.awesome,
.awesome:visited,
.medium.awesome,
.medium.awesome:visited {
    font-size: 100%;
    font-weight: bold;
    /*line-height: 1;*/
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.large.awesome,
.large.awesome:visited,
input.large.awesome {
    font-size: 108%;
    padding: 8px 14px 9px;
}

.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }


/* =visually-hidden
 -------------------------------------------------- */
/* http://yaccessibilityblog.com/library/css-clip-hidden-content.html */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body:hover .visually-hidden a,
body:hover .visually-hidden input,
body:hover .visually-hidden button {
  display: none !important;
}

/* =link-underline
 -------------------------------------------------- */
.link-underline a {text-decoration: none;}
.link-underline a:hover {text-decoration: underline;}
.link-underline-hover a {text-decoration: none;}
.link-underline-hover a:hover {text-decoration: underline;}

/* =align
 -------------------------------------------------- */
.align-right { text-align: right;}
.align-left { text-align: left;}
.align-center { text-align: center;}

.valign-top {vertical-align: top;}
.valign-middle {vertical-align: middle;}
.valign-bottom {vertical-align: bottom}

/* Classes: grade
 * ------------------------------------------------- */

.grade-a {
    font-weight: bold;
    color:#3BA94C;
} /* >90% */
.grade-b {
    font-weight: bold;
    color:#819F44;
} /* <90% */
.grade-c {
    font-weight: bold;
    color:#AC922E;
} /* <80% */
.grade-d {
    font-weight: bold;
    color:#D77B3E;
} /* <70% */
.grade-e {
    font-weight: bold;
    color:#BB4A12;
} /* <60% */
.grade-f {
    font-weight: bold;
    color:#D02D2D;
} /* <50% */
.score-progression{
    color: #000000;
    font-size: small;
}

/* Classes: font-size
 * ------------------------------------------------- */
.size-l {font-size: 11px;} /* default size from bootstrap */
.size-xl {font-size: 15px;}
.size-2xl {font-size: 20px;}
.size-3xl {font-size: 25px;}
.size-4xl {font-size: 30px;}
/*
 * Override Bootstap
 * ==============================================
*/

.breadcrumb .divider:after {
    content: ">";
}

/* focusable content: anything w/ tabindex >=0 is focusable */
abbr:focus, acronym:focus, address:focus, b:focus,
base:focus, big:focus, blockquote:focus, br:focus, canvas:focus, caption:focus,
center:focus, cite:focus, code:focus, col:focus, colgroup:focus, dd:focus,
del:focus, dfn:focus, dir:focus, div:focus, dl:focus, dt:focus, em:focus,
fieldset:focus, font:focus, form:focus, h1:focus, h2:focus, h3:focus, h4:focus,
h5:focus, h6:focus, hr:focus, i:focus, img:focus, ins:focus,
kbd:focus, label:focus, legend:focus, li:focus, link:focus, menu:focus,
ol:focus, p:focus, pre:focus, q:focus, s:focus, samp:focus,
small:focus, span:focus, strike:focus, strong:focus, sub:focus, sup:focus,
table:focus, tbody:focus, td:focus, tfoot:focus, th:focus, thead:focus,
tr:focus, tt:focus, u:focus, ul:focus, var:focus {
  /* Don't specify the outline-color, we should always use initial value. */
   outline: 1px dotted;
}

li  {
    color:#404040;
}

/*
 * HTML tags
 * ==============================================
*/
body {
    margin-bottom: 15em;
}

code {
     font-family: monospace;
     font-weight: bold;
}

table td {
    vertical-align: middle;
}

table tbody th {
    text-align: left;
}

abbr, acronym {
    border-bottom: 1px dotted;
    cursor: help;
}
/*
 * Header
 * ==============================================
*/

#home h1 {
}
/*
 * Body
 * ==============================================
*/
#bg {
}

/*
 * Top-bar
 * ==============================================
*/
.topbar{
    margin-bottom: 1em;
    position: static;
}

/* top5
 -------------------------------------------------- */
.top5-rank1 { font-size: 30px;}
.top5-rank2 { font-size: 25px;}
.top5-rank3 { font-size: 20px;}
.score-explanation {
    font-size: 11px;
    text-align: right;
}
.row-top-spacing1{
    margin-top: 1em;
}
.row-top-spacing2{
    margin-top: 2em;
}
.row-top-spacing3{
    margin-top: 3em;
}
.row-top-spacing4{
    margin-top: 4em;
}
.row-bottom-spacing1{
    margin-bottom: 1em;
}
.row-bottom-spacing2{
    margin-bottom: 2em;
}
.row-bottom-spacing3{
    margin-bottom: 3em;
}
.row-bottom-spacing4{
    margin-bottom: 4em;
}

.top5-col-site img {
    vertical-align: middle;
    padding-right: 5px;
}

/*
 * Footer
 * ==============================================
*/
footer {padding-top: 0;}
#footer-upper {
    background-color: #f8f8f8;
    padding-top: 17px;
}

#footer-down {
    margin-top: 17px;
}

#footer-upper>div,
#footer-down>div {
    width: 940px;
    margin: auto;
}

footer h2 {
    border-bottom: thin solid #E1E1E1;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    line-height: 20px;
}
.logo {
    vertical-align: middle;
}

.partner-logo {
    text-align: center;
    margin-top: 0.5em;
}
.social-network-footer {
    text-align: left;
    margin-top: 0.5em;
}
/*
 * tables presenting excerpts for detailed results (by rule)
 * --------------------------------------------------
 */
.rAw21-06021-col-Link-Title-Attribut,
.rAw21-06022-col-Link-Title-Attribut,
.rAw21-06023-col-Link-Title-Attribut {
    width: 45%;
}
.rAw21-06021-col-Link-Text,
.rAw21-06022-col-Link-Text,
.rAw21-06023-col-Link-Text {}

.rAw21-06021-col-Line-Number,
.rAw21-06022-col-Line-Number,
.rAw21-06023-col-Line-Number {
    width: 10%;
    text-align: right;
}
.rAw21-06041-col-Link-Title-Attribut,
.rAw21-06042-col-Link-Title-Attribut,
.rAw21-06043-col-Link-Title-Attribut {
    width: 30%;
}
.rAw21-06041-col-Link-Text,
.rAw21-06042-col-Link-Text,
.rAw21-06043-col-Link-Text {
    width: 30%;
}
.rAw21-06041-col-Link-Href-Attribut,
.rAw21-06042-col-Link-Href-Attribut,
.rAw21-06043-col-Link-Href-Attribut {
    width: 30%;
}
.rAw21-06041-col-Line-Number,
.rAw21-06042-col-Line-Number,
.rAw21-06043-col-Line-Number {
    text-align: right;
}
.rAw21-10041-col-Css-FileName,
.rAw21-10041-col-Css-Selector{
    width: 50%;
}
.r-col-Line-Number {text-align: right;}

.ts-test-result-table th{
    background-color: #FEFBF3;
}
/*
 * Page: home
 * ==============================================
*/
#allCategoriesBlock {
    text-align: right;
}
.see-category-block-link {
    text-align: right;
}
#social-network-index {
    margin-bottom: 25px;
    margin-top: -50px;
}
/*
 * Page: categories-detailed
 * ==============================================
*/
.average-score-abbr {
    padding-right: 10px;
}

.average-score {
    text-align: right;
}
/*
 * Page: error-403, error-404
 * ==============================================
 */
.main-logo {
    text-align: center;
}

/*
 * Page: article
 * ==============================================
*/

/* article headers
 -------------------------------------------------- */

/* article content
 -------------------------------------------------- */

/* Source code Highlighter (geshi)
 -------------------------------------------------- */
.html4strict .de1, .html4strict .de2 {
    margin:0;
    padding:0;
    background:none;
    vertical-align:top;
    color: #000020;
}

.html4strict {
    font: 85% monospace;
    color: #000066;
    border: 1px solid #d0d0d0;
    background-color: #f0f0f0;
    padding-left: 2em;
/*    overflow: scroll;*/
}
.html4strict a:link {
    color: #000060;
}
.html4strict a:hover {
    background-color: #f0f000;
}
.html4strict .head {
    font-family: sans-serif;
    color: #808080;
    font-size: 77%;
    font-weight: bold;
    background-color: #f0f0ff;
    border-bottom: 1px solid #d0d0d0;
    padding: 2px;
}
.html4strict .foot {
    font-family: sans-serif;
    color: #808080;
    font-size: 77%;
    font-weight: bold;
    background-color: #f0f0ff;
    border-top: 1px solid #d0d0d0;
    padding: 2px;
}
.html4strict .imp {
    font-weight: bold;
    color: red;
}
.html4strict li, .html4strict .li1 {
    font-weight: normal;
    vertical-align:top;
    color: #003030;
}
.html4strict .ln {
    width:1px;
    text-align:right;
    margin:0;
    padding:0 2px;
    vertical-align:top;
}

.html4strict .kw2 {
    color: purple;
    font-weight: bold;
}
.html4strict .kw3 {
    color: #000066;
}
.html4strict .es0 {
    color: #000099;
    font-weight: bold;}
.html4strict .br0 {
    color: black;
}
.html4strict .sy0 {
    color: black;
}
.html4strict .st0 {
    color: blue;
}
.html4strict .nu0 {
    color: #cc66cc;
}
.html4strict .sc-1 {
    color: green; font-style: italic;
}
.html4strict .sc0 {
    color: #00bbdd;
}
.html4strict .sc1 {
    color: #FF4500;
}
.html4strict .sc2 {
    color: #000000;
}
.html4strict span.xtra {
    display:block;
}

/*
 * Page: audit-result
 * ==============================================
*/

#graphical-synthesis-result {
    margin-top: 2em;
}

.audit-score {
    font-size: 400%;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.3em;
    vertical-align: bottom;
}

#weighted-mark {
    font-size: 13px;
    font-weight: normal;
    color : black;
}

.chart-object {
    border: medium none;
    color: black;
}

#synthesis-result .thumbnail {
    padding: 0 0 0 0;
    text-align: center;
}

#synthesis {
    margin: 0 0 1em 0;
}

#work-done {
    margin: 1em 0;
}

#tgm-piechart {
    margin: -1.5em 0 0;
    text-align: center;
    width: 100%;
}

#result-synthetized-text {
    margin: -0.3em 0 0 0;
    text-align: center;
    border-collapse: separate;
}

#synthesis-meta-data {
    margin-top: 1em;
}

#result-synthetized-text .col01 {
    text-align: left;
    vertical-align: middle;
    width: 50%;
    font-weight: bold;
}

#result-synthetized-text .col02 {
    text-align: right;
}

#synthesis-result .thumbnail {
    padding: 0 0 0 0;
    text-align: center;
}

.result-table{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

.theme {
    border-top: 1px solid silver;
    margin-top: 1em;
}

.theme2 {
     margin-top: 1em;
     margin-bottom: 1em;
}

.rule-id {
    text-align: center;
    vertical-align: middle;
    width: 5%;
}

.rule-failed-count {
    width: 12%;
}

.rule-label {
    vertical-align: middle;
}

.rule-label ul {
    margin: 0.25em 0 0.25em 3em;
}

.rule-result {
    vertical-align: middle;
    width: 15%;
}

.rule-failed-count {
    vertical-align: middle;
}

.rule-level {
    text-align: right;
    vertical-align: middle;
    width: 7%;
}

.rule-details {
    vertical-align: middle;
    width: 7%;
}

.project-parameters-label {
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 1em;
}

.project-parameters {
    margin-top: 0.5em;
}

.project-parameters-value {
/*    font-weight: bold;*/
    margin-left: 0;
}
.passed {
    background: url(http://asset.open-s.com/Corporate/TGOL/Images/ico-passed.png) 5px 50% no-repeat;
    padding-left: 2em;
    color:#46A546;
/*    vertical-align: middle;*/
}
.failed {
    background: url(http://asset.open-s.com/Corporate/TGOL/Images/ico-failed.png) 5px 50% no-repeat;
    padding-left: 2em;
    color:#C43C35;
/*    vertical-align: middle;*/
}
.nmi {
    background: url(http://asset.open-s.com/Corporate/TGOL/Images/ico-nmi-2.ico) 5px 50% no-repeat;
    padding-left: 2em;
    color:#F89406;
/*    vertical-align: middle;*/
}
.na {
    padding-left: 2em;
    color: #6e6e6e;
/*    vertical-align: middle;*/
}
.more-on-test {
    float:right;
    text-align:right;
}

.empty{
    font-style: italic;
}
/*
 * Print styles (from Html5 Boilerplate)
 * ==============================================
*/
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}